html {
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.card {
	padding: 1rem;
	background: #DDD;
	margin: 1rem;
}

.category {
	width: 50%;
}

.product {
	width: calc(100% / 3);
}

.product img {
	width: 100%;
}

.products,
.categories {
	display: flex;
	flex-direction: row;

}